.Banner {
  background-image: url(../ip2/assets/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

.breakfast {
  background-image: url(../ip2/assets/foodtop/breakfast.jpg);
  background-size: 100% 100% cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  height: 210px;
  text-align: center;
  font-style: italic;
  font-size:30px;
  font-weight: 200;
}

.lunch {
  background-image: url(../ip2/assets/foodtop/lunch.jpg);
  background-size: 100% 100% cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  height: 210px;
  text-align: center;
  font-style: italic;
  font-size:30px;
  font-weight: 200;
}

.dinner {
  background-image: url(../ip2/assets/foodtop/dinner.jpg);
  background-size: 100% 100% cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  height: 210px;
  text-align: center;
  font-style: italic;
  font-size:30px;
  font-weight: 200;
}

.HH {
  color: black;
  font-size: 20px;
  text-align: center;
  height: 105px;
}

.PT {
  color: white;
  background-color: #F15A29;
  font-size: 20px;
  text-align: center;
  height: 105px;
}

.Meals {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}

.MealsText p{
  padding-top: 30%;
}

.Meals-link p{
  padding-top: 10%;
}

.row1 {
  margin: 100px;
  column-gap: 50px;
  width: auto;
  height: auto;
}

.FFoods {
  display: table;
}

.FFoodsImg {
  background-color: grey;
  align-items: center;
}

.FFoodsText {
  display: table-cell;
  text-align: left;
}

.row2 {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 0px;
  margin-bottom: 100px;
  width: auto;
  height: auto;
  column-gap: 50px;
}

.Drinks {
  display: table;
}

.DrinksText {
  display: table-cell;
  text-align: right;
}

.DrinksImg {
  display: table-cell;
  width: auto;
  height: auto;
  margin-left: 80px;
  margin-right: 0px;
}

.row1 button{
  color: #F15A29;
  height: 50px;
  width: 200px;
  background-color: inherit;
  border-radius: 5px;
  border-color: #F15A29;
  border-width: thin;
}

.row2 button{
  color: #F15A29;
  height: 50px;
  width: 200px;
  background-color: inherit;
  border-radius: 5px;
  border-color: #F15A29;
  border-width: thin;
}

.foods {
  background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
  align-content: center;
  background-size: cover;
}

.navigationtabs {
  background-color: white;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 100px;
  margin-top: 100px;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
  overflow: hidden;
}

.reviewsection {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
  overflow: hidden;
}
